{% extends '../base.html' %}

{% load static %}

{% block title %}Autores{% endblock %}

{% block content %}
<main id="main" class="main-container page">
    <div class="main-inner">
        {% include '../components/sidebar.html' %}
        <diver class="main-content">
            <h2 class="page-title">Autores</h2>
            <div class="authors-container">
                {% for author in authors %}
                <div class="author">
                    <div class="author-header">
                        <div class="author-image">
                            {% if author.user.image %}
                            <img src="{{ author.user.image }}"
                                alt="{{ author.user.first_name }} {{ author.user.last_name }} image">
                            {% else %}
                            <img src="{% static 'img/jpg/author.jpg' %}"
                                alt="{{ author.user.first_name }} {{ author.user.last_name }} image">
                            {% endif %}
                        </div>
                        <h3>{{ author.user.first_name }} {{ author.user.last_name }}</h3>
                    </div>
                    <div class="author-content">
                        <p>
                            {{ author.bio }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </diver>
    </div>
</main>
{% endblock %}